//  Font Colors

// Site Colors
// $primary_clr: #7e89fd;
// $secondary_clr: #ffc933;
// $tertiary_clr: #3945ba;
// $fourth_clr: #052635;
// $fivth_clr: #f0f4ff;
// $sixth_clr: #f00d00;

$primary_clr: #7e89fd;
$secondary_clr: #ffc933;
$tertiary_clr: #3945ba;
$font_clr: #052635;
$bg_clr: #f0f4ff;
$cta_clr: #f00d00;

.dim {
  color: rgb(131, 131, 131);
}
.diml {
  color: rgb(117, 117, 117);
}
.dimd {
  color: rgb(78, 78, 78);
}
.wht {
  color: #fff;
}
