
.padng {
    padding: 2rem;
  }
  
  .ordered {
    margin-left: 3rem;
  }
  .unordered {
    list-style-type: none;
    margin-left: 1rem;
  }
  .para1 {
    padding: 1rem;
  }
  .para2 {
    padding: 1.5rem 0;
  }
  
  .padding {
    font-size: 3rem;
  }
  .box20 {
    width: 20%;
    /* height:90%; */
    background-color: rgb(1, 5, 26);
    flex-wrap: wrap;
    color: white;
    align-content: flex-start;
    align-self: flex-start;
  }
  .box {
    margin: 1rem;
  }
  /* .flexlay{
    background-color: white;
  } */
  .mainbox {
    background-color: rgb(1, 5, 26);
    justify-content: space-evenly;
    display: flex;
    align-self: center;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    flex-wrap: wrap;
  }
  .tag {
    font-size: 1.6rem;
    color: rgb(83, 81, 81);
    font-weight: 100;
  }
  .tag1 {
    font-size: 1.5rem;
    color: rgb(134, 128, 128);
    font-weight: 200;
  }
  .nav {
    font-size: 2rem;
    line-height: 3;
    text-align: center;
    word-spacing: 1.8rem;
    font-family: "Open Sans", sans-serif;
    margin: 2rem 0rem;
    padding: 0;
  }
  .head {
    text-align: center;
    font-weight: 200;
    margin: 2rem 0rem;
    font-weight: 800;
  }
  .head1{
    text-align: left;
  }
  .head2{
    text-align: right;
  }
  .card {
    width: 100%;
    padding: 1.6rem;
  }
  .card3 {
    width: 55%;
    padding: 1.6rem;
  }
  .card_img img {
    width: 95%;
    border-radius: 1%;
    margin-bottom: 1rem;
  }
  .card_btn {
    background-color: rgb(34, 31, 31);
    color: white;
    font-size: 16px;
    padding: 10px 29px;
    margin: 10px 0px;
    border-radius: 1rem;
    border: none;
  }
  .card2 {
    width: 50%;
    padding: 1.6rem;
  }
  .card3_img img {
    width: 50%;
    border-radius: 60%;
    margin-bottom: 1rem;
  }
  .carderek {
    width: 25%;
    border: 0.5rem;
    border-color: black;
    border-radius: 2%;
    align-items: center;
    align-content: center;
    text-align: center;
  }
  .cardnew_img{
    width:80%
  }
  .newsletter {
    background-color: rgb(20, 19, 19);
    color: white;
     text-align: center;
    /*line-height: 5.5rem;
    justify-content: space-evenly;
    display: flex;
    align-self: center;
    align-items: center; */
    padding: 1rem;
    margin: 1rem;
  

  }

  .container {
    max-width: 120rem;
    margin: 0 auto;
  }
  .bod {
    border: 0.2rem red solid;
  }
  input {
    padding: 2rem 0;
    margin: 2rem 0;
    font-size: large;
    border-radius: 0.5rem;
    border-style: solid;
    width: 25%;
    border-width: 0.1rem;
    border-color: black;
    background-color: rgb(213, 230, 233);
  }
  .tagbold {
    color: rgb(41, 40, 40);
    font-weight: 600;
    font-size: 1.6rem;
  }
  .tagbold1 {
    color: white;
    font-weight: 600;
  }
  .strng1 {
    font-weight: 700;
  }
  .strng2 {
    font-weight: 600;
  }
  .strng3 {
    color: rgb(41, 40, 40);
    font-weight: 600;
  }
  .emphasis {
    font-size: 1.7rem;
    color: rgb(82, 80, 80);
  }
  .section_1 {
    padding: 0rem;
  }
  .section_2 {
    max-width: 120rem;
    margin: 0 auto;
  }
.cardnew{
  width: 25%;
  padding: 1rem 0;
}
.mainbox1 {
  justify-content: space-evenly;
  display: flex;
  align-self: center;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  flex-wrap: wrap;
  width: 60%;
}
.mainboxnew {
  justify-content: space-evenly;
  display: flex;
  align-self: center;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  width: max-content;
}
.boxnew{
  width: 30%;
  flex-wrap: wrap;
  color: rgb(24, 23, 23);
 
}
.jmpbtn{
  background-color: rgb(41, 38, 38);
  color: rgb(240, 229, 229);
  border-style: solid;
  border-color: rgb(143, 134, 134);
  padding: 1.2rem;
}
.cen{
  align-items: center;
  align-self: center;
  align-content: center;
  text-align: center;
  /* width: 20%; */
}
.img{
  width: 2%;
}
.recipecard{
  width: fit-content;
  padding: 1rem 0;
  border-style: solid;
  border-color:black ;
  padding: 1.6rem;
}
.list {
  line-height: 2.7rem;
  padding: 2rem 0;
}
.button{
  background-color: rgb(177, 172, 172);
  padding: 1rem 0;
  margin: 1rem 0;
  font-size: large;
  border-radius: 0.5rem;
  border-style: solid;
  flex-wrap: wrap;
  width: 32%;
  border-width: 0.1rem;
}
.fab{
  font-size: 2rem;
}
.fas{
  font-size:2rem;
}
.bx2_link{
  margin-bottom: 3rem;
}
.bx2_icon{
  margin: 2.8rem;
  word-spacing: 2rem;
}
.bx2_title{
  margin-bottom:3rem;
  margin-top: 1rem;
  letter-spacing: 0.11rem;
  font-size: 4.5rem;
 }
.mostview{
  box-decoration-break: slice;
  border-color: black;
  border-style: solid;
  border-width: 0.1rem;
}
.ollist{
  border-color: black;
  border-style: solid;
  border-width: 0.1rem;
}
.stylebtn{
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
}