/* shivi */
.headleft{
    padding: 1.8rem;
    justify-content: flex-start;
    font-size: 2rem;
    word-spacing: 2.5rem;
    line-height: 3rem;
  }

  a{
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
    color: rgb(240, 240, 240) !important;
    text-decoration: none !important;
    font-weight: 600;
  }
  
.headr{
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.082), rgba(0, 0, 0, 0.534)), url(../ds_main/library/Image/img/marcel-heil-j_PZJiA9gE4-unsplash.jpg);
    color: rgb(2, 2, 2);
    background-position: center;
    height: 85vh;
  }
  
  .lmbtn{
    border: white solid 0.1rem;
    background-color: transparent;
    padding: 0.8rem;
    font-size: 1.6rem;
    color: whitesmoke;
  }
  .sec{
    padding: 1.6rem;
    /* display: flex; */
  }
  .mainbox{
      display: flex;
      justify-content: center;
  }
  .cardnew{
    width: 20%;
  }
 
  /* .wid{
    width: 60%;
  } */
  .nmt{
    margin-top: -8rem;
  }
  .clr{
      color: rgb(7, 7, 7);
  }
  .clr2{
    color: rgb(255, 254, 254) !important;
}
@media only screen and (max-width: 780px) {
  .mobhide{
    display: none;
}
.mobnlock{
    display: block;
}
.cardnew {
  width: 100%;
  
}

  }