.la{
    font-size: 5rem;
    font-weight: 500;
    line-height: 5.5rem !important;
}

.bck{
    background-color: rgb(255, 255, 255);
}
.headleft {
    padding: 1.8rem;
    font-size: 2rem;
    word-spacing: 2rem;
    line-height: 3rem;
  }
  
  a {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
    color: rgb(10, 10, 10) !important;
    text-decoration: none !important;
    font-weight: 600;
  }
  .lembtn {
    border: none;
    background-color: #f57e39;
    padding: 1.2rem;
    font-size: 1.6rem;
  }
  .rob{
      width: 100%;
  }
  .lmbtn{
    border: none;
    border-radius: 2rem;
    background-color: #1abc9c;
    padding: 0.8rem;
    font-size: 1.6rem;
  }
  .sec{
    padding: 1.6rem;
    display: flex;
  }
  
  /* .bg{
    background-color: rgb(226, 222, 222);
  } */
  .m0{
    margin: 0;
  }
  .wid{
    width:30%;
  }
  @media screen and (max-width: 780px){
    .mobhide{
        display: none;
    }
    .mobnlock{
        display: block;
    }
    .wid{
      width: 100%;
    }
    .la{
      font-size:4rem
    }
  }