.jmpbtn{
    background-color: rgb(136, 120, 120);
    color: rgb(240, 229, 229);
    border-style: solid;
    border-color: rgb(29, 2, 2);
    padding: 1.6rem;
  }
  .button{
    background-color: grey;
    
  }