*{
margin: 0;
padding: 0;
}
.bod {
    border: 1px solid red;
  }
.container{
    margin: 0 auto;
    max-width: 70rem !important;
}
.flexlay{
    background-color: white;
}
.mainbox{
    height: 20 rem;
    background-color: rgb(252, 224, 229);
    justify-content:space-evenly;
    display: flex;
    align-self: center;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
}
.box {
    margin: 1rem;
  }
  .bo{
      margin: 0rem;
      padding: 0rem;
  }
.box1{
    width: 50%;
    height:10rem;
    background-color: rgb(232, 235, 79);
}
.box2{
    width: 50%;
    height: 10rem;
    background-color: rgb(103, 236, 236);
}
.box3{
    width: 80%;
    height: 10rem;
    background-color: rgb(40, 229, 236);
}
.box4{
    width: 20%;
    height:10rem;
    background-color: rgb(40, 229, 236);
}
.box20{
    width: 30%;
    height:10rem;
    background-color: rgb(40, 229, 236);
}
.box5{
    width: 95%;
    height: 10rem;
    background-color: rgb(231, 168, 168);
}
.box6{
    width: 90%;
    height: 3rem;
    background-color: rgb(247, 236, 91);
}
.box7{
    width: 90%;
    height: 3rem;
    background-color: #fcfbf6;
    justify-content:space-evenly;
    display: flex;
    align-self: center;
    align-items: center;
}
.box8{
    width: 90%;
    height: 3rem;
    background-color: rgb(248, 142, 195);
}
.box9{
    width: 10%;
    height: 1rem;
    background-color: rgb(247, 236, 91);
}
.box10{
    width: 30%;
    display: flex;
    height: 10rem;
    background-color: rgb(248, 239, 113);
}
.box11{
    width: 30%;
    height: 10rem;
    background-color: rgb(255, 255, 249);
    display: flex;
    flex-direction: column-reverse;
    
}
.box12{
    width: 30%;
    height: 10rem;
    background-color: rgb(113, 239, 248);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.box13{
    width: 50%;
    height: 40%;
    background-color: rgb(247, 247, 247);
}
.box14{
    width: 50%;
    height: 40%;
    background-color: rgb(157, 219, 238);
}
.box15{
    width: 50%;
    height: 40%;
    background-color: red;
}
.box16{
    width: 50%;
    height: 40%;
    background-color: rgb(240, 248, 132);
}