.row{
  display: flex;
  flex-wrap: wrap;
  padding: 0 0.5rem;
}
.column-4{
  width: 40%;
  max-width: 40%;
  padding: 0 0.5rem
}
.column-8{
  width: 60%;
  max-width: 60%;
  padding: 0 0.5rem
}
.column-6{
  width: 50%;
  max-width: 50%;
  padding: 0 0.5rem
}

.box5{ 
  overflow: hidden;
}
.box5:hover .box5img{
  transition: 2s ease;
  transform: scale(1.1);
}
.box5img{
  width: 100%;
}
.bclr{
  background-color: rgb(231, 231, 231);
}
.w120{
  width: 120%;
}

@media screen and (max-width: 990px) {
  .column-4{
    width: 100%;
    max-width: 100%;
  }
  .column-8{
    width: 100%;
    max-width: 100%;
  }

  .column-6{
    width: 100%;
    max-width: 100%;
  }
  .w120{
    width: 100%;
  }
}