// Fecards
.fecard {
  text-align: center;

  &_title {
    font-size: 2.2rem;
    font-weight: 200;
  }
}

// Vdcards
.vdcard {
  //   width: 35rem;
  height: 45rem;
  background-color: #eee;
  position: relative;
  border-radius: 0.3rem;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.vdcard_img {
  width: 100%;
  height: 100%;
}

.vdcard_content {
  width: max-content; // Very Very Important Property
  background-color: rgb(247, 247, 247);
  color: rgb(41, 41, 41);
  padding: 2rem;
  position: absolute;
  top: 75%;
  left: 2%;
  transform: translateX(-140%);
  transition: transform 0.3s ease;
}

.vdcard:hover {
  .vdcard_content {
    transform: translateX(7%);
  }
}

// svc cards
.svc_card {
  // width: 32rem;
  margin: 2rem;
  min-height: 25rem;
  background-color: #fff;
  box-shadow: 0px 10px 30px 0 rgba(182, 182, 182, 0.2);
  padding: 2.8rem;

  &--title {
    font-size: 2.3rem;
  }

  &--icon {
    width: 5rem;
  }
}

