// Margins
.m1 {
  margin: 0.6rem 0rem !important ;
}
.m2 {
  margin: 1rem 0rem !important;
}
.m3 {
  margin: 1.5rem 0rem !important;
}
.m4 {
  margin: 2rem 0rem !important;
}
.m5 {
  margin: 2.5rem 0rem !important;
}
.m6 {
  margin: 3rem 0rem !important;
}

// Margin - bottom

.mb1 {
  margin-bottom: 0.6rem !important ;
}

.mb2 {
  margin-bottom: 1rem !important;
}
.mb3 {
  margin-bottom: 1.5rem !important;
}
.mb4 {
  margin-bottom: 2rem !important;
}
.mb5 {
  margin-bottom: 2.5rem !important;
}
.mb6 {
  margin-bottom: 3rem !important;
}

// Margin All side
.mxy1 {
  margin: 0.6rem !important;
}
.mxy2 {
  margin: 1rem !important;
}
.mxy3 {
  margin: 1.5rem !important;
}
.mxy4 {
  margin: 2rem !important;
}
.mxy5 {
  margin: 2.5rem !important;
}
.mxy6 {
  margin: 3rem !important;
}

// Negative Margins
.neg_mt {
  margin-top: -5rem;
}
