@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
a{
    font-family: 'Noto Sans JP', sans-serif;
    color: #6e6d7a!important;
    text-decoration: none !important;
    word-spacing: 0rem;
    font-size: 2rem !important;
}
.row,
.col{
    margin: 0rem;
    padding: 0rem !important;
}
.header{
    padding: 0rem;
}
.dancing_script{
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 3rem !important;
    text-decoration: none;
    color: #363636 !important;
    padding: 0 2rem;
}
.headleft{
    word-spacing: 3rem;
    line-height: 3rem;
  }
  .headright{
    font-size: 1.8rem;
    word-spacing: 1rem;
    line-height: 3rem;
}

.signinbtn{
    border: none;
    background-color: transparent;
    color: gray;
    /* padding: 0.5rem 1rem!important; */
}
.signupbtn{
    border: none;
    padding: 0.5rem 2rem!important;
    border-radius: 1rem;
    background-color: #ea4c89;
    color: white;
    font-size: 1.6rem;
    font-weight: 500;
}
.signupbtn:hover{
    background-color: hotpink;
}
.signupbtn:active{
    background-color: rgb(219, 113, 196);
}

.bck1{
    border-top: 0.1rem solid rgb(240, 240, 240);
    background-color: #F9F8FD;
}
.jumbo{
    font-size: 5rem;
    color: rgb(29, 27, 27) !important;
    line-height: 5.8rem !important;
}
.wid100{
    width: 100%;
}
@media screen and (max-width: 780px) {
    .mhide {
      display: none;
    }
    .mblock {
      display: block;
    }
    .abc{
        text-align: center;
    }
    .jumbo{
        font-size: 3.2rem;
        line-height: 4rem !important;
    }
    input{
        width: 100%;
    }
  }

  .wid{
      width: 25%;
  }
  .instyle
  {
    padding: 1rem ;
  }
  .instyle:optional{
    padding: 1rem;
    border: 0.1rem solid rgba(218, 215, 215, 0.842);
    border-radius: 1rem;
  }
  .instyle:optional:hover{
      border: 0.2rem solid rgb(245, 211, 222);
  }
  .dribbtn{
    color: rgb(124, 120, 120);
    border: none;
    background-color: transparent;
    padding: 1rem;
    font-size: 1.6rem;
  }
  .dribbtn:hover{
      color: black;
  }
  .dribbtn:active{
      background-color: rgb(228, 224, 224);
      color: rgb(14, 13, 13);
      padding: 1rem;
      border-radius: 1rem;
  }
  .card{
      /* margin: 1rem; */
      border: none !important;
      padding: 1rem !important;
  }
  .teambtn{
      background-color: rgb(107, 104, 104);
      color: white;
      border: none;  
      font-size: 1.1rem !important;    
  }
  .fo{
      font-size: 1.3rem !important;
  }
  
  .bora{
      border-radius: 1rem;
  }
  .pa{
    font-size: 1.8rem;
    font-weight: 500;
    color: rgb(31, 31, 31);
}
.filbtn{
    border: none;
    padding: 1rem 1.5rem;
    background-color: rgb(241, 241, 241);
    border-radius: 1rem;
}
.filbtn:hover{
    background-color: transparent;
}
.ta1{
    border: none;
    background-color: rgb(235, 230, 230);
    border-radius: 1rem;
    padding: 1rem;
}
.ta1:hover{
    border: 0.2rem solid rgb(245, 211, 222);
}
::placeholder{
    padding: 1rem;
}
.drib{
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 4rem !important;
    text-decoration: none;
    color: #ea4c89 !important;
}
li{
    line-height: 3.7rem;
}
.bstrip{
    height: 2rem;
    background-color:  #0d0c22;
}
.par{
    padding-right: 1rem;
}
.bk2{
    background-color: blanchedalmond;
}