.clrp{
    color: #d87093 ;
}
.box{
   padding: 0 20rem;
}
.bora{
    border-radius: 2rem;
}
.savebtn{
    border: none;
    padding: 1rem 2rem;
    border-radius: 1rem;
}
.pa{
    font-size: 1.8rem;
    color: rgb(19, 18, 18);
}
@media screen and (max-width: 780px) {
    .mhide {
      display: none;
    }
    .mblock {
      display: block;
    }
  }
  .imr{
      border-radius: 50%;
      height: 70%;
      padding: 0 1rem;
  }
  .listf{
      font-size: 2.2rem !important;
      line-height: 4rem;
  }