.tagbold {
    color: rgb(41, 40, 40);
    font-weight: 600;
    font-size: 1.6rem;
  }
  .tagbold1 {
    color: white;
    font-weight: 600;
  }
  .strng1 {
    font-weight: 700;
  }
  .strng2 {
    font-weight: 600;
  }
  .strng3 {
    color: rgb(41, 40, 40);
    font-weight: 600;
  }
  .emphasis {
    font-size: 1.7rem;
    color: rgb(82, 80, 80);
  }