@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display:wght@600&display=swap");

  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 4.5rem;
  }
  h3 {
    font-size: 3.6rem;
  }
  h4 {
    font-size: 3rem;
  }

p {
  font-size: 1.7rem;
  display: block;
  line-height: 2.6rem;
  padding: 1rem 0;
}
a {
  font-size: 1.8rem;
  font-family: "Open Sans", sans-serif;
  color: rgb(34, 32, 32);
  text-decoration: none;
  font-weight: 600;
}
h1,
h2,
h3,
h4 {
  margin: 0rem;
  padding: 0rem;
  font-family: "Open Sans", sans-serif;
}
li {
  font-size: 1.5rem;
  display: block;
  line-height: 2.5rem;
  padding: 0 2rem;
}
hr{
  width: 100%;
  size: 1rem;
  color: black;
  margin: 2rem 0;
}
.placeholder{
background-color: rgb(119, 117, 115);
}
input{
  width: 25%;
}