.se1{
    font-size: 1.5rem;
    background-color: rgb(161, 161, 226);
    margin: 0rem;
    padding: 0rem;
}
.se2{
    font-size: 2rem;
    background-color: rgb(211, 152, 152);
    margin: 0rem;
    padding: 0rem;
}
.se3{
    font-size: 2rem;
    background-color: rgb(221, 201, 223);
    margin: 0rem;
    padding: 0rem;
}
.se4{
    font-size: 2rem;
    background-color: rgb(240, 197, 197);
    margin: 0rem;
    padding: 0rem;
    image-orientation: initial;   
}