* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f3f3f3;
  font-family: "Open Sans", sans-serif;
  line-height: 1.3;
  color: rgb(26, 26, 26);
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}