h1,h2,h3,h4{
    padding: 0rem;
    margin:0rem;
}

h1{
    font-size: 4rem;
}
h2{
    font-size:3.5rem;
}
h3{
    font-size: 3rem;
}
h4{
    font-size: 2rem;
}

/* first heading */
.heading1_img img{
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3.7rem;
  padding-bottom: 2.5rem;
}

.heading1_p{
    font-size: 1.7rem;
    word-spacing: 0.3rem;
    line-height: 2.7rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
/* first heading */

/* second heading */
.heading2_img img{
  width: 49%;
  margin-right: 1.0rem;
  padding-top: 3.7rem;
  padding-bottom: 2.5rem;
}
.heading2_p{
    font-size: 1.7rem;
    word-spacing: 0.3rem;
    line-height: 2.7rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
/* second heading */

/* third heading */
.heading3_p{
    font-size: 1.7rem;
    word-spacing: 0.3rem;
    line-height: 2.7rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

/* third heading */

/* fourth heading */
.heading4_p{
    font-size: 1.7rem;
    word-spacing: 0.3rem;
    line-height: 2.7rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
/* fourth heading */

