.instyle {
  border: 1px solid #eee;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  width: 100%;
  color: $font_clr;
  outline: none;
  padding: 0.8rem;
}

.instyle:focus {
  border: 1px solid rgb(180, 180, 180) !important;
}

@media screen and (max-width: 780px) {
}
