.carderek {
    width: 25%;
    border: 0.5rem;
    border-color: black;
    border-radius: 2%;
    align-items: center;
    align-content: center;
    text-align: center;
  }
  .card_img img {
    width: 95%;
    border-radius: 1%;
    margin-bottom: 1rem;
  }
  .card_btn {
    background-color: rgb(34, 31, 31);
    color: white;
    font-size: 16px;
    padding: 10px 29px;
    margin: 10px 0px;
    border-radius: 1rem;
    border: none;
  }

  .card {
    width: 100%;
    padding: 1.6rem;
  }


