.xsicon {
    font-size: 1.4rem;
  }
  .sicon {
    font-size: 1.8rem;
  }
  .micon {
    font-size: 2.2rem;
  }
  .licon {
    font-size: 2.5rem;
  }
  .xlicon {
    font-size: 3rem;
  }
  
  /* //  Svg Icons */
  .site_icons {
    width: 8rem;
  }
  
  .fw_icon{
    width: 5.7rem;
  }
  
  /* // Some Site Icons */
  .fw_icon--html path {
    fill: #e34c26 !important;
  }
  .fw_icon--css path {
    fill: #264de4 !important;
  }
  .fw_icon--js path {
    fill: #f0db4f !important;
  }
  .fw_icon--react path {
    fill: #61dbfb !important;
  }
  .fw_icon--node path {
    fill: #68a063 !important;
  }
  .fw_icon--ci path {
    fill: #dd4814 !important;
  }
  .fw_icon--lv path {
    fill: #fb503b !important;
  }
  .fw_icon--php path {
    fill: #8993be !important;
  }
  .fw_icon--msql path {
    fill: #00758f !important;
  }
  