.sbtn {
  padding: 0.8rem;
  border: 1px solid #eee;
  border-radius: 6px;
  background-color: #ffffff;
  transition: all 0.2s ease;
}

.sbtn:hover {
  background-color: rgb(247, 247, 247);
}

.mbtn {
  padding: 1rem;
  border: 1px solid #eee;
  border-radius: 6px;
  background-color: #ffffff;
  transition: all 0.2s ease;
}

.mbtn:hover {
  background-color: rgb(247, 247, 247);
}

.lbtn {
  padding: 1rem;
  border: 1px solid #eee;
  border-radius: 3px;
  color: #fff;
  font-size: 2rem;
  background-color: $font_clr;
  transition: all 0.2s ease;
}

.lbtn:hover {
  background-color: rgb(247, 247, 247);
}
