// Header Nav Component
// *** New Part

.header_nav {
  position: fixed;
  padding: 4rem 0 !important;
  width: 100%;
  padding: 2rem 0;

  // background-color: $primary_clr;
  color: #fff;
  transition: all 0.3s ease;

  a {
    color: #fff !important;
  }
}

.nav_active {
  padding: 1rem !important;
  position: fixed;
  background-color: $font_clr;
  box-shadow: 0px 20px 8px 0 rgba(182, 182, 182, 0.13);
  transition: all 0.3s ease;
}

.nav,
a {
  cursor: pointer;
  // color: #fff;
}
.nav_links {
  padding: 1.3rem 2.3rem !important;
  color: rgb(77, 77, 77) !important;
  //   border-left: 1px solid #eee;
  transition: all 0.1s ease;
}

.nav_links:hover {
  color: $secondary_clr !important;
}

.nav_hb {
  font-size: 2.8rem;
  cursor: pointer;
}

.nav_dropdown {
  background-color: rgb(248, 247, 247);
  border-radius: 2px;
  width: 25rem;
}

.nav_dropdown_links {
  padding: 1.1rem 2.3rem !important;
}

// Dropdowns
.homedd {
  position: relative;
}

#homedd {
  display: none;
  position: absolute;
  top: 5rem;
}

.homedd:hover {
  #homedd {
    display: block;
  }
}

@media screen and (max-width: 780px) {
}

// *** New Part
