@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@500;600;700&family=Oxygen:wght@300;400;700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
h1,
h2,
h3,
h4,
p,
span,
ul,
li {
  padding: 0 !important;
  margin: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif !important;
  line-height: 1.3 !important;
}

.jumbo {
  font-size: 6rem !important;
  font-weight: 700;
  line-height: 6.8rem !important;
}

h1 {
  font-size: 3.6rem !important;
}

h2 {
  font-size: 20px !important;
}

h3 {
  font-size: 16px !important;
}

h4 {
  font-size: 2.441rem !important;
}

h5 {
  font-size: 1.953rem !important;
}

p,
li {
  font-size: 14px !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-bottom: 1.4rem !important;
}

a {
  text-decoration: none !important;
  word-spacing: 0rem;
  font-weight: 400;
  display: block;
}

.lin:hover {
  color: black !important;
  border-bottom: 0.2rem solid black !important;
}

.stag {
  font-size: 12px !important;
}

.mtag {
  font-size: 1.6rem !important;
}

.ltag {
  font-size: 16px !important;
}

@media screen and (max-width: 780px) {
  h1 {
    font-size: calc(3.6rem / 1.4) !important;
  }
  h2 {
    font-size: calc(20px / 1.4) !important;
  }
  h3 {
    font-size: calc(16px / 1.4) !important;
  }
  h4 {
    font-size: calc(2.441rem / 1.4) !important;
  }
  h5 {
    font-size: calc(1.953rem / 1.4) !important;
  }
}

.xsicon {
  font-size: 1.4rem;
}

.sicon {
  font-size: 1.8rem;
}

.micon {
  font-size: 2.2rem;
}

.licon {
  font-size: 2.5rem;
}

.xlicon {
  font-size: 3rem;
}

.dim {
  color: #838383;
}

.diml {
  color: #757575;
}

.dimd {
  color: #4e4e4e;
}

.wht {
  color: #fff;
}

.bold4 {
  font-weight: 400;
}

.bold5 {
  font-weight: 500;
}

.bold6 {
  font-weight: 600;
}

.bold7 {
  font-weight: 700;
}

.bold8 {
  font-weight: 800;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5% !important;
}

body {
  font-size: 1.5rem !important;
  font-family: "Inter", sans-serif;
  line-height: 1.8;
  color: #242424;
}

.bod {
  border: 1px solid red;
}

.nodeco {
  text-decoration: none;
}

.nodeco:hover {
  text-decoration: none;
}

.lstn {
  list-style-type: none;
}

.spacer {
  padding: 1rem;
}

.img100 {
  width: 100%;
}

.dn {
  display: none;
}

.txtl {
  text-align: left;
}

.txtr {
  text-align: right;
}

.txtc {
  text-align: center;
}

.flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.fdc {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.jcc {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.jce {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.jcsa {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.jcse {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.jcsb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aic {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fxd {
  position: fixed;
  z-index: 1000;
}

.rel {
  position: relative;
}

.abso {
  position: absolute;
}

.p1 {
  padding: 0.5rem 0rem !important;
}

.p2 {
  padding: 1rem 0rem !important;
}

.p3 {
  padding: 1.5rem 0rem !important;
}

.p4 {
  padding: 2rem 0rem !important;
}

.p5 {
  padding: 2.5rem 0rem !important;
}

.p6 {
  padding: 3rem 0rem !important;
}

.px1 {
  padding: 0rem 0.5rem !important;
}

.px2 {
  padding: 0rem 1rem !important;
}

.px3 {
  padding: 0rem 1.5rem !important;
}

.px4 {
  padding: 0rem 2rem !important;
}

.px5 {
  padding: 0rem 2.5rem !important;
}

.px6 {
  padding: 0rem 3rem !important;
}

.pxy1 {
  padding: 1rem;
}

.pxy2 {
  padding: 1.5rem;
}

.pxy3 {
  padding: 2rem;
}

.pxy4 {
  padding: 2.5rem;
}

.pxy5 {
  padding: 3rem;
}

.pxy6 {
  padding: 3.5rem;
}

@media screen and (max-width: 780px) {
  .p1 {
    padding: calc(0.5rem / 1.2) 0rem !important;
  }
  .p2 {
    padding: calc(1rem / 1.2) 0rem !important;
  }
  .p3 {
    padding: calc(1.5rem / 1.2) 0rem !important;
  }
  .p4 {
    padding: calc(2rem / 1.2) !important;
  }
  .p5 {
    padding: calc(2.5rem / 1.2) 0rem !important;
  }
  .p6 {
    padding: calc(3rem / 1.2) 0rem !important;
  }
  .px1 {
    padding: 0rem calc(0.5rem / 1.2) !important;
  }
  .px2 {
    padding: 0rem calc(1rem / 1.2) !important;
  }
  .px3 {
    padding: 0rem calc(1.5rem / 1.2) !important;
  }
  .px4 {
    padding: 0rem calc(2rem / 1.2) !important;
  }
  .px5 {
    padding: 0rem calc(2.5rem / 1.2) !important;
  }
  .px6 {
    padding: 0rem calc(3rem / 1.2) !important;
  }
  .pxy1 {
    padding: calc(1rem / 1.2);
  }
  .pxy2 {
    padding: calc(1.5rem / 1.2);
  }
  .pxy3 {
    padding: calc(2rem / 1.2);
  }
  .pxy4 {
    padding: calc(2.5rem / 1.2);
  }
  .pxy5 {
    padding: calc(3rem / 1.2);
  }
  .pxy6 {
    padding: calc(3.5rem / 1.2);
  }
}

.m1 {
  margin: 0.6rem 0rem !important;
}

.m2 {
  margin: 1rem 0rem !important;
}

.m3 {
  margin: 1.5rem 0rem !important;
}

.m4 {
  margin: 2rem 0rem !important;
}

.m5 {
  margin: 2.5rem 0rem !important;
}

.m6 {
  margin: 3rem 0rem !important;
}

.mb1 {
  margin-bottom: 0.6rem !important;
}

.mb2 {
  margin-bottom: 1rem !important;
}

.mb3 {
  margin-bottom: 1.5rem !important;
}

.mb4 {
  margin-bottom: 2rem !important;
}

.mb5 {
  margin-bottom: 2.5rem !important;
}

.mb6 {
  margin-bottom: 3rem !important;
}

.mxy1 {
  margin: 0.6rem !important;
}

.mxy2 {
  margin: 1rem !important;
}

.mxy3 {
  margin: 1.5rem !important;
}

.mxy4 {
  margin: 2rem !important;
}

.mxy5 {
  margin: 2.5rem !important;
}

.mxy6 {
  margin: 3rem !important;
}

.neg_mt {
  margin-top: -5rem;
}

.dhide {
  display: none;
}

.dblock {
  display: block;
}

@media screen and (max-width: 780px) {
  .mhide {
    display: none;
  }
  .mblock {
    display: block;
  }
}

.lshd {
  -webkit-box-shadow: 0px 10px 30px 0 rgba(182, 182, 182, 0.2);
          box-shadow: 0px 10px 30px 0 rgba(182, 182, 182, 0.2);
}

.container {
  max-width: 120rem;
}

@media screen and (max-width: 780px) {
  .container {
    max-width: 90% !important;
  }
}

.instyle {
  border: 1px solid #eee;
  border-radius: 3px;
  background-color: white;
  width: 100%;
  color: #242424;
  outline: none;
  padding: 0.8rem;
}

.instyle:focus {
  border: 1px solid #b4b4b4 !important;
}

.sbtn {
  padding: 0.8rem;
  border: 1px solid #eee;
  border-radius: 6px;
  background-color: #eee;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.sbtn:hover {
  background-color: #f7f7f7;
}

.mbtn {
  padding: 1rem;
  border: 1px solid #eee;
  border-radius: 6px;
  background-color: #ffffff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.mbtn:hover {
  background-color: #f7f7f7;
}

.lbtn {
  padding: 1rem;
  border: 1px solid #eee;
  border-radius: 3px;
  color: #fff;
  font-size: 2rem;
  background-color: #242424;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.lbtn:hover {
  background-color: #f7f7f7;
}

.section-xs,
.section-s,
.section-m,
.section-l,
.section-lx {
  width: 100%;
}

.section {
  padding: 5rem 0rem;
}

.section-xs {
  padding: 1rem 0rem;
}

.section-s {
  padding: 3rem 0rem;
}

.section-m {
  padding: 4rem 0rem;
}

.section-l {
  padding: 6rem 0rem;
}

.section-lx {
  padding: 8rem 0rem;
}

@media screen and (max-width: 780px) {
  .section {
    padding: calc(5rem / 1.2) 0rem;
  }
  .section-xs {
    padding: calc(1rem / 1.2) 0rem;
  }
  .section-s {
    padding: calc(3rem / 1.2) 0rem;
  }
  .section-m {
    padding: calc(4rem / 1.2) 0rem;
  }
  .section-l {
    padding: calc(6rem / 1.2) 0rem;
  }
  .section-lx {
    padding: calc(8rem / 1.2) 0rem;
  }
}

.site_header {
  background-color: #fff;
}

.wordblock__heading {
  font-weight: 800 !important;
  line-height: 5.5rem;
  font-size: 5rem;
}

.wordblock__heading--subhead {
  font-size: 4rem;
  font-weight: 700 !important;
  line-height: 5.5rem;
}

.wordblock__para {
  line-height: 2.5rem;
}

.footer_1 {
  background-color: #fdfdfd;
}

.footer_1--links {
  color: #4d4d4d;
}

.footer_1--links:hover {
  color: #3664fc;
}

.footer_1--bottombar {
  border-top: 2px solid #a5a5a5;
}

.fecard {
  text-align: center;
}

.fecard_title {
  font-size: 2.2rem;
  font-weight: 200;
}

.vdcard {
  height: 45rem;
  background-color: #eee;
  position: relative;
  border-radius: 0.3rem;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.vdcard_img {
  width: 100%;
  height: 100%;
}

.vdcard_content {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: #f7f7f7;
  color: #292929;
  padding: 2rem;
  position: absolute;
  top: 75%;
  left: 2%;
  -webkit-transform: translateX(-140%);
          transform: translateX(-140%);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.vdcard:hover .vdcard_content {
  -webkit-transform: translateX(7%);
          transform: translateX(7%);
}

.svc_card {
  margin: 2rem;
  min-height: 25rem;
  background-color: #fff;
  -webkit-box-shadow: 0px 10px 30px 0 rgba(182, 182, 182, 0.2);
          box-shadow: 0px 10px 30px 0 rgba(182, 182, 182, 0.2);
  padding: 2.8rem;
}

.svc_card--title {
  font-size: 2.3rem;
}

.svc_card--icon {
  width: 5rem;
}

.icon_s {
  width: 3.6rem;
  padding: 0.3rem;
}

.icon_m {
  width: 8rem;
  padding: 0.3rem;
}

.icon_x {
  width: 12rem;
  padding: 0.3rem;
}

.header_nav {
  position: fixed;
  padding: 4rem 0 !important;
  width: 100%;
  padding: 2rem 0;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header_nav a {
  color: #fff !important;
}

.nav_active {
  padding: 1rem !important;
  position: fixed;
  background-color: #242424;
  -webkit-box-shadow: 0px 20px 8px 0 rgba(182, 182, 182, 0.13);
          box-shadow: 0px 20px 8px 0 rgba(182, 182, 182, 0.13);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav,
a {
  cursor: pointer;
}

.nav_links {
  padding: 1.3rem 2.3rem !important;
  color: #4d4d4d !important;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.nav_links:hover {
  color: #ffc933 !important;
}

.nav_hb {
  font-size: 2.8rem;
  cursor: pointer;
}

.nav_dropdown {
  background-color: #f8f7f7;
  border-radius: 2px;
  width: 25rem;
}

.nav_dropdown_links {
  padding: 1.1rem 2.3rem !important;
}

.homedd {
  position: relative;
}

#homedd {
  display: none;
  position: absolute;
  top: 5rem;
}

.homedd:hover #homedd {
  display: block;
}

.error {
  color: #cf1616;
}

.success {
  color: green;
}

.auth {
  background-color: #eee;
  height: 100vh;
}

.auth_btn {
  width: 100%;
  background-color: #161529;
  color: #fff;
}

.auth_btn:hover {
  background-color: #161529;
  background-color: #282642;
}

.section_header {
  background-color: #7e89fd;
}

.section_handsontech {
  background-color: #f0f4ff;
}

.hero_wordblock {
  background-image: url("../../images/header_bgsvg.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.hero_wordblock-title {
  font-size: 6rem;
  line-height: 7rem;
  font-weight: 700;
  color: #fff;
}

.hero_wordblock-para {
  font-size: 1.9rem !important;
  line-height: 3.2rem;
  color: #fff;
}

.hero_wordblock-btn {
  background-color: #ffc933;
  font-family: "Roboto", sans-serif;
  color: #242424;
  font-weight: 800;
  font-size: 2.5rem;
  border-radius: 2px;
  min-width: 20rem;
}

.technos {
  background-color: #242424;
}

.technos_icon {
  width: 5.8rem;
  margin: 0 1rem;
  color: #fff;
}

.tech_icon {
  width: 6.7rem;
  padding: 1rem;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.tech_icon path {
  fill: #727272;
}

.tech_icon:hover path {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  fill: #ffc933;
}

.cleancode {
  background-color: #ffc933;
}

.cleancode_blob {
  background-image: url("../../images/bg_blob2.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.framworks_heading {
  color: #ffc933;
}

.plans_title {
  font-weight: 600;
  color: #f00d00;
}

.plans_price {
  font-size: 3rem;
  font-weight: 600;
}

.plans_items {
  padding: 0.5rem 0 !important;
}

.wordpress {
  background-image: url("../../images/blob_3.svg");
  background-repeat: no-repeat;
  background-size: 60%rem;
}

.process {
  background-color: #242424;
  color: #fff !important;
}

.getstart {
  background-color: #f8f8f8;
}

.GetStart_inp {
  width: 35%;
}

.letsconnect {
  background-color: #f8f8f8;
}

@media screen and (max-width: 780px) {
  .hero_wordblock-title {
    font-size: 5rem;
    line-height: 6rem;
  }
  .hero_wordblock-para {
    font-size: 1.6rem !important;
    line-height: 2.5rem;
  }
  .hero_wordblock-btn {
    font-size: 2.3rem;
    border-radius: 2px;
    min-width: 18rem;
  }
  .hero_img {
    width: 80%;
  }
}

.framworks {
  background-color: #242424;
  color: #fff !important;
}

.bk1 {
  background-color: white !important;
}

.headleft {
  word-spacing: 2rem !important;
}

.pal {
  padding-left: 5rem !important;
}

.pr {
  padding-right: 4rem;
}

.subbtn {
  font-size: 1.7rem;
  background-color: #2c2c96;
  color: white;
  font-weight: 500;
  padding: 0 1rem;
  border: none;
}

.startbtn {
  font-size: 1.7rem;
  background-color: #2c2c96;
  border: 0.1rem solid #151582;
  padding: 1.5rem 2rem !important;
  color: white;
  font-weight: 500;
  border-radius: 0.5rem;
}

.signinbtn {
  border: none !important;
  background-color: transparent !important;
  color: #222020;
  font-size: 1.7rem;
  font-weight: 500;
  /* padding: 0.5rem 1rem!important; */
}

.exbtn {
  font-size: 1.7rem;
  background-color: transparent;
  border: 0.1rem solid #151582;
  padding: 1.5rem 2rem !important;
  color: #2c2c96;
  font-weight: 500;
  border-radius: 0.5rem;
}

li {
  line-height: 4.5rem;
}

.menu {
  font-size: 1.5rem !important;
  font-weight: 500 !important;
  background-color: #edf3fa;
  border-radius: 1.2rem;
  border: none;
  padding: 0.7rem;
}

.limg {
  width: 100%;
}

.pfix {
  width: 100%;
}

.par {
  color: #161637;
  font-weight: 400 !important;
  font-size: 2rem !important;
}

.boxb {
  color: #151582 !important;
  font-size: 1.6rem !important;
  font-weight: 500;
}

.bk {
  background-color: #d5f3ff;
}

.instyle_over {
  border: transparent;
  border-radius: 3px;
  background-color: white;
  width: 100%;
  color: #333;
  outline: none;
  font-size: 1.7rem !important;
  font-weight: 400;
}

.marright {
  margin-right: 4rem;
}

.wr {
  -ms-flex-wrap: wrap !important;
      flex-wrap: wrap !important;
}

.see {
  color: #0085e4 !important;
  font-weight: 500;
}

.hei {
  height: 60rem;
}

.intro_img {
  top: 26%;
  left: 1%;
}

.blue_dot {
  width: 30%;
  top: 14%;
  left: 23%;
}

.blue_cir {
  width: 27%;
  top: 12%;
  left: 13%;
}

.org_dot {
  width: 27%;
  top: 64%;
  left: 63%;
}

.user1 {
  width: 14%;
  top: 5%;
  right: 88%;
}

.user2 {
  width: 14%;
  top: 8%;
  left: 80%;
}

.user3 {
  width: 14%;
  top: 50%;
  left: 93%;
}

img.vert-move {
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate;
}

img.vert-move {
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate;
}

@-webkit-keyframes mover {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@keyframes mover {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

.us1 {
  background-color: #ff7048;
  color: #fff;
  border-radius: 2.5rem;
  padding: 0.5rem;
}

.wid {
  width: 70% !important;
}

.widt {
  width: 100% !important;
}

.padl {
  padding-left: 2rem;
}

.flexc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blubk {
  background-color: #a4e5ff;
}

.bora {
  border-radius: 50%;
}

.shimg {
  width: 48px !important;
  height: 48px !important;
}

@media screen and (max-width: 1200px) {
  .jumbo {
    font-size: 5rem !important;
  }
  .w1200 {
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .jumbo {
    font-size: 5rem !important;
  }
  .abc {
    text-align: center;
  }
  .thide {
    display: none;
  }
  .tblock {
    display: block;
  }
  .js {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .wid {
    width: 100% !important;
  }
  .blue_dot {
    width: 25%;
    top: 12%;
    left: 20%;
  }
  .blue_cir {
    width: 25%;
    top: 10%;
    left: 13%;
  }
  .org_dot {
    width: 27%;
    top: 71%;
    left: 63%;
  }
  .user1 {
    width: 14%;
    top: 5%;
    right: 92%;
  }
  .user2 {
    width: 14%;
    top: 8%;
    left: 89%;
  }
  .user3 {
    width: 14%;
    top: 50%;
    left: 95%;
  }
}

@media screen and (max-width: 780px) {
  h1 {
    font-size: calc(3.6rem / 1.4) !important;
  }
  h2 {
    font-size: calc(20px / 1.4) !important;
  }
  h3 {
    font-size: calc(16px / 1.4) !important;
  }
  h4 {
    font-size: calc(2.441rem / 1.4) !important;
  }
  h5 {
    font-size: calc(1.953rem / 1.4) !important;
  }
  .mhide {
    display: none;
  }
  .mblock {
    display: block;
  }
  .jumbo {
    font-size: 4rem !important;
    line-height: 5rem !important;
  }
  .cen {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .wi {
    width: 100%;
  }
  .wid {
    width: 100%;
  }
  .pal {
    padding-left: 0.75rem !important;
  }
}

@media screen and (max-width: 576px) {
  .jumbo {
    font-size: 3.5rem !important;
    line-height: 4rem !important;
  }
  .flexc {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .blue_dot {
    width: 30%;
    top: 15%;
    left: 23%;
  }
  .blue_cir {
    width: 27%;
    top: 13%;
    left: 13%;
  }
  .org_dot {
    width: 27%;
    top: 60%;
    left: 63%;
  }
  .user1 {
    width: 14%;
    top: 5%;
    right: 88%;
  }
  .user2 {
    width: 14%;
    top: 8%;
    left: 80%;
  }
  .user3 {
    width: 14%;
    top: 50%;
    left: 90%;
  }
}

.bgclr {
  background-color: #f1f3f6;
}

.bgclr1 {
  background-color: white;
}

.myord {
  color: #878787;
  font-size: 16px;
  font-weight: 600;
}

.edit {
  color: #2874f0;
  font-weight: 500;
  font-size: 12px;
}

.bdb {
  border-bottom: #e9e9e9 0.1rem solid;
}

.lst {
  color: black !important;
}

a:hover {
  color: #2874f0 !important;
}

a:active {
  color: #2874f0 !important;
  font-weight: 500;
}

.log {
  font-size: 20px;
  color: #2874f0;
}

.instyl {
  padding: 1rem;
  border: 0.1rem solid #e0e0e0;
  background-color: #fafafa;
  border-radius: 3px;
  width: 95%;
  color: #242424;
  outline: none;
}

.instyl:active {
  border: 0.1rem solid #2874f0;
}

.savebtn {
  border: none;
  background-color: #2874f0;
  color: #fff;
  padding: 1rem 2rem;
}
/*# sourceMappingURL=main.css.map */