:root {
  --base_padding: 3rem;
  --base_padding--spacer: 1.5rem;
}
* {
  margin: 0rem;
  padding: 0rem;
}
html {
  font-size: 62.5%;
}
.bod {
  border: 1px solid red;
}
.mainbox {
  background-color: rgb(156, 161, 163);
  justify-content: space-evenly;
  display: flex;
}
.box1 {
  padding: var(--base_padding);
  width: 30%;
  background-color: rgb(218, 50, 81);
}
.box2 {
  padding: var(--base_padding);
  background-color: rgb(197, 223, 235);
  width: 70%;
}
.box3 {
  background-color: rgb(250, 179, 223);
  flex-direction: column;
}
.box4 {
  background-color: rgb(224, 197, 217);
  height: 20rem;
}
.box5 {
  background-color: rgb(194, 159, 181);
  height: 20rem;
  flex-direction: column;
}
.boxsec {
  /* height: 23rem; */
  display: flex;
}
.boxsec1 {
  height: 10rem;
  display: flex;
}

.box3_1,
.box3_2 {
  height: 23rem;
  width: 33.3%;
  margin: 1rem;
}

.box5_1 {
  background-color: rgb(255, 255, 129);
  height: 10rem;
  width: 50%;
}
.box5_2 {
  background-color: rgb(175, 247, 109);
  height: 10rem;
  width: 50%;
}
.spacer {
  padding: var(--base_padding--spacer) 0;
}

.box_bg-1 {
  background-color: rgb(86, 158, 86);
}
.box_bg-2 {
  background-color: rgb(104, 135, 235);
}
.box_bg-3 {
  background-color: rgb(219, 81, 178);
}

/* Mobile Responsive */

@media only screen and (max-width: 700px) {
  .mainbox {
    display: flex;
    flex-direction: column;
  }
  .box1 {
    padding: 1.5rem;
    width: 100%;
  }
  .box2 {
    padding: 1.5rem;
    width: 100%;
  }
  .box3 {
    display: none;
  }
}

/* Mobile Responsive */
