@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Roboto+Slab:wght@200;300;400;500;600;700&display=swap');
a{
    font-family: 'Roboto Slab', serif ;
    color: rgb(107, 107, 107) !important;
    text-decoration: none !important;
    word-spacing: 0rem;
    
}
.dancing_script{
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 2.4rem;
    text-decoration: none;
    color: black !important;
}
.headleft{
    padding: 2rem;
    justify-content: flex-start;
    font-size: 1.8rem;
    word-spacing: 2.3rem;
    line-height: 3rem;
    text-align: start;
    width: 70%;
  }
  .headright{
    padding:2rem;
    justify-content: flex-end;
    font-size: 1.8rem;
    word-spacing: 2.5rem;
    line-height: 3rem;
    text-align: end;
    width: 30%;
}
.mainbox{
    display: flex;
    width: 100%;
}
button{
    font-size: 2rem;
}
.signinbtn{
    border: none;
    background-color: transparent;
    color: gray;
}
.signupbtn{
    border: none;
    padding: 0.6rem !important;
    border-radius: 1rem;
    background-color: rgb(245, 104, 158);
    color: white;
    font-size: 1.8rem;
}
.signupbtn:hover{
    background-color: hotpink;
}
.signupbtn:active{
    background-color: rgb(219, 113, 196);
}
.bck{
    background-color: white;
}
.bck1{
    border-top: 0.1rem solid rgb(240, 240, 240);
    background-color: #F9F8FD;
}
.jumbo{
    font-size: 5.5rem;
    color: rgb(20, 20, 20);
    line-height: 5.8rem !important;
}
.p0{
    padding: 0rem !important;
}
.wid100{
    width: 100%;
}
@media screen and (max-width: 780px) {
    .mhide {
      display: none;
    }
    .mblock {
      display: block;
    }
    .abc{
        text-align: center;
    }
    .jumbo{
        font-size: 4rem;
        line-height: 4rem !important;
    }
    .mainbox{
        flex-direction: column;
    }
  }
  .wid{
      width: 25%;
  }
  .instyle
  {
    padding: 1rem ;
  }
  .instyle:optional{
    padding: 0.6rem;
    border: 0.1rem solid rgb(175, 174, 174);
    border-radius: 1rem;
  }
  .instyle:optional:hover{
      border: 0.2rem solid palevioletred;
  }
  .dribbtn{
    color: rgb(124, 120, 120);
    border: none;
    background-color: transparent;
    padding: 1rem;
    font-size: 1.6rem;
  }
  .dribbtn:hover{
      color: black;
  }
  .dribbtn:active{
      background-color: rgb(228, 224, 224);
      color: rgb(14, 13, 13);
      padding: 1rem;
      border-radius: 1rem;
  }
  .card{
      margin: 1rem;
      border: none !important;
      width: 25%;
  }
  .teambtn{
      background-color: rgb(107, 104, 104);
      color: white;
      border: none;
  }
  .pa{
      font-size: 1rem;
      font-weight: 500;
      color: rgb(131, 130, 130);
  }
  .bora{
      border-radius: 1rem;
  }
  .pa{
    font-size: 1.8rem;
    font-weight: 500;
    color: rgb(5, 5, 5);
}
 