.clrp{
    color: #d87093 ;
}
.box{
   padding: 0 20rem;
}
.bora{
    border-radius: 2rem;
}
.savebtn{
    border: none;
    padding: 1rem 2rem;
    border-radius: 1rem;
}
.ws{
    width: 70%;
}
.wt{
    width: 30%;
}
.mainbox{
    display: flex;
    padding: 0 20rem;
}
.pa{
    font-size: 1.8rem;
    color: rgb(5, 5, 5);
}
@media screen and (max-width: 780px) {
    .mhide {
      display: none;
    }
    .mblock {
      display: block;
    }
    .mainbox{
        padding: 1rem;
    }
  }