/* Card */
.card2 {
  width: 45rem;
  padding: 1.8rem;
}
  
.card2_img img{
  width:100%;
  border-radius: 1%;
  margin-bottom: 1rem;
}
  /* Card */

  /* profile card */
.profcard{
  width: 32%;
  padding: 3.0rem;
  border: 1px black solid;
  margin-left: 4rem;
  border-radius: 1%;
  text-align: center;
}
.profcard_img2 img{
  border:transparent;
  border-radius: 50%;
}
  /* profile card ends */

  