//  Font Colors

// Site Colors
// $primary_clr: #7e89fd;
// $secondary_clr: #ffc933;
// $tertiary_clr: #3945ba;
// $fourth_clr: #052635;
// $fivth_clr: #f0f4ff;
// $sixth_clr: #f00d00;

$primary_clr: #7e89fd;
$secondary_clr: #ffc933;
$tertiary_clr: #3945ba;

$font_clr: #282c32;
$bg_clr: #fff;
$cta_clr: #f00d00;

// Button Component Color
$btn_clr: #fff; // button Color
$btn_bg_clr: rgb(31, 32, 34); // button Background Color
$btn_hvr_clr: rgb(241, 241, 241); // button Background Color
$btn_hvr_bg_clr: #1b1f24; // button Background Color

// Bloquote Color
$blq_clr: rgb(238, 238, 238); // Bloquote Color
$a_clr: #f12c18; // Anchor Color
$a_clr_hover: rgb(22, 22, 22); // Anchor Color

.dim {
  color: rgb(131, 131, 131);
}
.diml {
  color: rgb(117, 117, 117);
}
.dimd {
  color: rgb(78, 78, 78);
}
.wht {
  color: #fff;
}
