.simg{
  width: 5%;
  height: 5%;
}
.inst
  {
    padding: 0.5rem;
    border: 0.1rem solid rgba(218, 215, 215, 0.842);
    border-radius: 0.5rem;
    background-color: #f3f4f4;
    // color: #333;
  }
  .signupbtn{
    border: none;
    padding: 1rem 2rem!important;
    border-radius: 0.5rem;
    background-color: #ea4c89;
    color: white;
    font-weight: 700;
    font-size: 1.6rem;
}
.signupbtn:hover{
  background-color: palevioletred;
}
  .inst:hover{
      border: 0.2rem solid rgb(245, 211, 222);
      background-color: #fff;
  }
  .inst:focus {
    border: 0.2rem solid rgb(245, 211, 222) !important;
  }
  ::placeholder{
    padding: 1rem;
  }

  
@media screen and (max-width: 950px) {
  .simg{
    width: 7%;
    height: 7%;
  }
}
