.bgclr{
    background-color: #f1f3f6;
}
.bgclr1{
    background-color: white;
}
.myord{
    color: #181818;
    font-size: 16px;
    font-weight: 600;
}
.pa{
    padding: 2rem 0.8rem;
}
.edit{
   color: #2874f0;
    font-weight: 700;
    font-size: 12px;
}
.bdb{
    border-bottom: rgb(233, 233, 233) 0.1rem solid;
}
.lst{
    color: black !important;
}
a:hover{
    color: #2874f0 !important;
}
a:active{
    color: #2874f0 !important;
    font-weight: 500;
}
.log{
    font-size: 20px;
    color: #2874f0;
}
.instyl{
    padding: 0.8rem;
    border: 0.1rem solid #e0e0e0;
    // background-color: #fafafa;
    border-radius: 3px;
    color: #242424;
    outline: none;
}
.instyl:active{
    border: 0.1rem solid #2874f0;
}
.instyl:focus{
    border: 0.1rem solid #2874f0;
}
.savebtn{
    border: none;
    background-color: #2874f0;
    color: #fff;
    padding: 0.7rem 2rem;
    font-weight: 600;
    font-size: 1.7rem;
    border-radius: 0.5rem;
}

