//  Font Colors

// Site Colors
// $primary_clr: #7e89fd;
// $secondary_clr: #ffc933;
// $tertiary_clr: #3945ba;
// $fourth_clr: #052635;
// $fivth_clr: #f0f4ff;
// $sixth_clr: #f00d00;

$primary_clr: #7e89fd;
$secondary_clr: #ffc933;
$tertiary_clr: #3945ba;

$font_clr: #282c32;
$bg_clr: #f0f4ff;
$cta_clr: #f00d00;

// Button Component Color
$btn_clr: rgb(250, 250, 250); // button Color
$btn_bg_clr: #181717; // button Background Color
$btn_hvr_clr: rgb(15, 15, 15); // button Background Color
$btn_hvr_bg_clr: #d0d0d1; // button Background Color

// Bloquote Color
$blq_clr: rgb(238, 238, 238); // Bloquote Color
$a_clr: #ffffff; // Anchor Color
$a_clr_hover: rgb(63, 61, 61); // Anchor Color

.dim {
  color: rgb(131, 131, 131);
}
.diml {
  color: rgb(117, 117, 117);
}
.dimd {
  color: rgb(78, 78, 78);
}
.wht {
  color: #fff;
}
