@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@500;600;700&family=Oxygen:wght@300;400;700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5% !important;
}

body{
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    color: rgb(32, 32, 32);
    background-color: #fff;
}

.container{
    max-width: 120rem !important;
    margin: 0 auto;
}


