/* Border */
.bod{
    border: 1px solid red;
}
/* Border */
/* Spacer */
.spacer{
    padding: 1rem;
}
/* Spacer */
/* link */
.nodeco{
    text-decoration: none;
}
.nodeco:hover {
    text-decoration: none;
  }
/* link */

/* list */
.lstnone{
    list-style-type: none;
}
/* list */
/* Padding */
.ptb1{
    padding:0.5rem;
}
.ptb2 {
    padding: 1rem 0rem !important;
}
.ptb3 {
padding: 1.5rem 0rem !important;
}
.ptb4 {
padding: 2rem 0rem !important;
}
.ptb5 {
padding: 2.5rem 0rem !important;
}
.ptb6 {
padding: 3rem 0rem !important;
}

.pl1 {
    padding-left: 0.6rem !important;
}
.pl2 {
padding-left: 1rem !important;
}
.pl3 {
padding-left: 1.5rem !important;
}
.pl4 {
padding-left: 2rem !important;
}
.pl5 {
padding-left: 2.5rem !important;
}
.pl6 {
padding-left: 3rem !important;
}

.p1 {
    padding: 0.6rem !important;
}
.p2 {
padding: 1rem !important;
}
.p3 {
padding: 1.5rem !important;
}
.p4 {
padding: 2rem !important;
}
.p5 {
padding: 2.5rem !important;
}
.p6 {
padding: 3rem !important;
}

/* Padding */

/* Margins */

.mtb1{
    margin:0.5rem;
}
.mtb2 {
    margin: 1rem 0rem !important;
}
.mtb3 {
    margin: 1.5rem 0rem !important;
}
.mtb4 {
    margin: 2rem 0rem !important;
}
.mtb5 {
    margin: 2.5rem 0rem !important;
}
.mtb6 {
    margin: 3rem 0rem !important;
}

.ml1 {
    margin-left: 0.6rem !important;
}
.ml2 {
    margin-left: 1rem !important;
}
.ml3 {
    margin-left: 1.5rem !important;
}
.ml4 {
    margin-left: 2rem !important;
}
.ml5 {
    margin-left: 2.5rem !important;
}
.ml6 {
    margin-left: 3rem !important;
}

.m1 {
    margin: 0.6rem !important;
}
.m2 {
    margin: 1rem !important;
}
.m3 {
    margin: 1.5rem !important;
}
.m4 {
    margin: 2rem !important;
}
.m5 {
    margin: 2.5rem !important;
}
.m6 {
    margin: 3rem !important;
}
/* Negative margin */
.nmt{
    margin-top: -5rem;
}
/* Negative margin */

/* Margins */

/* Image */
.imgwid{
    width: 100%;
}
/* Image */

/* Display none */
.dn{
    display: none;
}
/* Display none */

/* Text align */
.txtend{
    text-align: end;
}
.txtcen{
    text-align: center;
}
/* Text align */

/* Flex Box */

.disflex{
    display: flex;
}
.jcc{
    justify-content: center;
}
.jce {
    justify-content: flex-end;
}
.jcsa {
    justify-content: space-around;
}
.jcse {
    justify-content: space-evenly;
}
.jcsb {
    justify-content: space-between;
}
.aic{
    align-items: center;
}
.acc{
    align-content: center;
}
.asc{
    align-self: center;
}

/* Flex Box */

.item {
    width: 25%;
    padding: 0.8rem;
  }
