.bold4 {
  font-weight: $bold4 !important;
}
.bold5 {
  font-weight: $bold5 !important;
}
.bold6 {
  font-weight: $bold6 !important;
}
.bold7 {
  font-weight: $bold7 !important;
}
.bold8 {
  font-weight: $bold8 !important;
}
