// Footer Bar footer 1
.footer_1 {
  background-color: rgb(253, 253, 253);
}

.footer_1--links {
  color: rgb(77, 77, 77);
}

.footer_1--links:hover {
  color: rgb(54, 100, 252);
}

.footer_1--bottombar {
  border-top: 2px solid rgb(165, 165, 165);
}
// end Footer Bar

@media screen and (max-width: 780px) {

}

@media screen and (max-width: 780px) {

}

@media screen and (max-width: 780px) {

}
