.se1{
    font-size: 1.5rem;
    background-color: #ccebd8;
    margin: 0rem;
    padding: 0rem;
}
.se2{
    font-size: 2rem;
    background-color: rgb(221, 189, 189);
    margin: 0rem;
    padding: 0rem;
}
.se3{
    font-size: 2rem;
    background-color: #d5cdd6;
    margin: 0rem;
    padding: 0rem;
    text-align: center;
}
.se4{
    font-size: 2rem;
    background-color: rgb(228, 198, 178);
    margin: 0rem;
    padding: 0rem,0rem;
    image-orientation: initial;   
    text-align: center;
}
.aside1{
    width: 80%;
    font-style: italic;
    background-color: rgb(228, 184, 184);
}
.aside2{
    background-color: rgb(189, 150, 211);
    width: 25%;
    padding: 0rem;
}