a{
    color: #6e6d7a!important;
    text-decoration: none !important;
    word-spacing: 0rem;
    font-size: 1.7rem !important;
    font-weight: 500;
}
.headleft{
    word-spacing: 4rem !important;
    /* line-height: 3rem !important; */
  }
  .pr{
      padding-right: 4rem;
  }
  .headright{
    font-size: 1.5rem;
    word-spacing: 1rem;
    line-height: 3rem;
}
.startbtn{
    font-size: 1.7rem;
    background-color: #2c2c96;
    border: 0.1rem solid #151582;
    padding: .8rem 2rem !important;
    color: rgb(255, 255, 255);
    font-weight: 500;
}
.signinbtn{
    border: none !important;
    background-color: transparent !important; 
    color: rgb(34, 32, 32);
    font-size: 1.7rem;
    font-weight: 500;
    /* padding: 0.5rem 1rem!important; */
}
.exbtn{
    font-size: 1.7rem;
    background-color: transparent;
    border: 0.1rem solid #151582;
    padding: .8rem 2rem !important;
    color: #2c2c96;
    font-weight: 500;
}
.menu{
    font-size: 3rem !important;
    font-weight: 500 !important;
}
.jumbo{
    font-size: 6.2rem !important;
    font-weight: 700;
    line-height: 6.8rem !important;
}
@media screen and (max-width: 780px) {
    .mhide {
      display: none;
    }
    .mblock {
      display: block;
    }
    .abc{
        text-align: center;
    }
    .jumbo{
        font-size: 3.2rem;
        line-height: 7rem !important;
    }
    input{
        width: 100%;
    }
  }
