.xsicon {
  font-size: $xsicon;
}
.sicon {
  font-size: $sicon;
}
.micon {
  font-size: $micon;
}
.licon {
  font-size: $licon;
}
.xlicon {
  font-size: $xlicon;
}

// .fw_icon--msql path {
//   fill: #00758f !important;
// }
