*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5% !important;
}

body {
  font-size: 1.5rem !important;
  font-family: "Poppins", sans-serif;
  color: rgb(29, 29, 29);
  background-color: #fff;
}

.container {
  max-width: 126rem !important;
}
