@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    line-height: 1.5;
    color: rgb(66, 64, 64);
}
.head{
    color: rgb(26, 22, 22);
    text-align: center; 
    font-size:30px; 
    padding-top: 29px;
}