.no{
    color: rgb(233, 18, 18);
    font-size: 5rem !important;
}
.tclr{
    color: rgb(248, 248, 248);
}
.orbtn{
    padding: 1rem;
    font-size: 1.4rem;
    background-color: rgb(253, 48, 48);
    border: none;
}
.orbor{
    border: 0.1rem rgb(245, 98, 45) solid;
    width: 15%;
}
.bgimg{
    background-image: url(../images/imgs/annie-spratt-QckxruozjRg-unsplash.jpg);
    background-size: 100%;
    height: 70vh;
}
.drib{
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 4rem !important;
    text-decoration: none;
    color: #ea4c89 !important;
}
.par{
    padding-right: 1rem;
}
.bld{
    font-weight: 700;
}
li{
    line-height: 3.7rem;
}
.bck1{
    border-top: rgb(228, 225, 225) solid 0.1rem;
}