button{
    font-size: 2rem;
}
.signinbtn{
    border: none;
    background-color: transparent;
    color: gray;
}
.signupbtn{
    border: none;
    border-radius: 15%;
    background-color: rgb(231, 135, 151);
    color: white;
}