@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&display=swap");
/* font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display', serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: rgb(236, 235, 235);
  line-height: 4rem;
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
  color: black;
}
.container {
  max-width: 120rem;
  margin: 0 auto;
}
