.error {
  color: rgb(207, 22, 22);
}
.success {
  color: green;
}

.auth {
  background-color: #eee;
  height: 100vh;
}

.auth_btn {
  width: 100%;
  background-color: rgb(22, 21, 41);

  color: #fff;
}

.auth_btn:hover {
  background-color: rgb(22, 21, 41);
  background-color: rgb(40, 38, 66);
}
