.section{
    margin: 0rem;
    padding: 0rem;
}
.heading1{
    padding:1.8rem 0rem;
    line-height: 1.4;
    margin: 1.4rem 2.6rem; 
}

.heading2{
    padding:1.8rem 0rem;
    line-height: 1.4;
    margin: 1.4rem 2.6rem; 
}

.heading3{
    padding:1.8rem 0rem;
    line-height: 1.4;
    margin: 1.4rem 2.6rem; 
}

.heading4{
    padding:1.8rem 0rem;
    line-height: 1.4;
    margin: 1.4rem 2.6rem; 
}


